<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#6610f2">
  <link href="Images/icon_head.png" rel="shortcut icon" type="image/png">
  <title>LGLSI 3-B</title>
  <link rel="stylesheet" href="Css/bootstrap.min.css">
  <link rel="stylesheet" href="Css/bootstrap.min.css.map">
  <link rel="stylesheet" href="Css/style.css">
  <link rel="manifest" href="manifest.json">
</head>

<body>
  <div class="container">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <div class="container-fluid">

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link font_navbar active" aria-current="page" href="https://lglsi-3b.web.app/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link font_navbar" href="cours.html">Cours</a>
          </li>
          <li class="nav-item">
            <a class="nav-link font_navbar" href="td.html">TD</a>
          </li>
          <li class="nav-item">
            <a class="nav-link font_navbar" href="tp.html">Tp</a>
          </li>
          <li class="nav-item">
            <a class="nav-link font_navbar" href="ds.html">Ds</a>
          </li>
          <li class="nav-item">
            <a class="nav-link font_navbar" href="examen.html">Examen</a>
          </li>
          <li class="nav-item">
            <a class="nav-link font_navbar" href="revision.html">Revision</a>
          </li>
        </ul>

      </div>
    </div>
  </nav>
 
    
    <div class="row">
      
      <div class="col-xl-9">
       <br><br><br><br>
        <div class="mt-20 shadow-sm p-3 mb-5 bg-body rounded">
      <p class="">  Mar7be b ness l kol hedha espace pour partager l <a href="cours.html">cours</a> , <a href="td.html">td</a> , <a href="tp.html">tp</a> , <a href="ds.html">ds</a> et les <a href="examen.html">examens </a>.
          <br>
          N7awlo bch ness l kol tistfed ml khedma hedhy w yitaada 3am fih nje7 w nitkharjo ness l kol nchlh .
          <br>
          7awel 3awen s7abek w partager cours shyh w jdid w kn aandek examen wala ds mtaa 9bal partager m3a s7abek .
          <br>
          W ken aandek Td wala Tp kifkif khali ness l kol tistanfe3 .</p>  
          <hr>
            <div >Hedha lien drive ynajem yaawnkom zeda w tal9aw fih kol chy <a href="https://drive.google.com/drive/folders/1ilzdb-gr3uz8fiQ8bZOaG1J2Pl7F74wY?fbclid=IwAR1hJ9WYPQSXp0KLovmyq46E8Pzqm_z9-qcS8aEbrcTS1JThyMw_rMTcVig"> Drive LGLSI3 </a> </div>
        </div>
      </div>
      <div class="col-xl-3">
        <br><br><br><br>
       
          <div class="card" style="width: 16rem;">
            <div class="card-body">
              <h5 class="card-title">Architecture SOA</h5>
              <h6 class="card-subtitle mb-2 text-muted">Coefficient : 2</h6>
            </div>
            
          </div>
          <div class="card" style="width: 16rem;">
            <div class="card-body">
              <h5 class="card-title">Mini Projet Data Science</h5>
              <h6 class="card-subtitle mb-2 text-muted">Coefficient : 1.5</h6>
            </div>
            
          </div>
          <div class="card" style="width: 16rem;">
            <div class="card-body">
              <h5 class="card-title">IOT</h5>
              <h6 class="card-subtitle mb-2 text-muted">Coefficient : 1.5</h6>
            </div>
            
          </div>
          <div class="card" style="width: 16rem;">
            <div class="card-body">
              <h5 class="card-title">Développement Application répartie</h5>
              <h6 class="card-subtitle mb-2 text-muted">Coefficient : 1.5</h6>
            </div>
            
          </div>
          <div class="card" style="width: 16rem;">
            <div class="card-body">
              <h5 class="card-title">Virtualisation et cloud</h5>
              <h6 class="card-subtitle mb-2 text-muted">Coefficient : 1.5</h6>
            </div>
            
          </div>
          <div class="card" style="width: 16rem;">
            <div class="card-body">
              <h5 class="card-title">Sècurité</h5>
              <h6 class="card-subtitle mb-2 text-muted">Coefficient : 1</h6>
            </div>
            
          </div>
          <div class="card" style="width: 16rem;">
            <div class="card-body">
              <h5 class="card-title">BigData</h5>
              <h6 class="card-subtitle mb-2 text-muted">Coefficient : 1</h6>
            </div>
            
          </div>
          <div class="card" style="width: 16rem;">
            <div class="card-body">
              <h5 class="card-title">Développement mobile</h5>
              <h6 class="card-subtitle mb-2 text-muted">Coefficient : 1</h6>
            </div>
            
          </div>
          <div class="card" style="width: 16rem;">
            <div class="card-body">
              <h5 class="card-title">Machine Learning</h5>
              <h6 class="card-subtitle mb-2 text-muted">Coefficient : 1</h6>
            </div>
            
          </div>
          <div class="card" style="width: 16rem;">
            <div class="card-body">
              <h5 class="card-title">Anglais</h5>
              <h6 class="card-subtitle mb-2 text-muted">Coefficient : 1</h6>
            </div>
            
          </div>
          <div class="card" style="width: 16rem;">
            <div class="card-body">
              <h5 class="card-title">Entreprenait</h5>
              <h6 class="card-subtitle mb-2 text-muted">Coefficient : 1</h6>
            </div>
            
          </div>
          <div class="card mb-5" style="width: 16rem;">
            <div class="card-body">
              <h5 class="card-title">Preparation à l'environnement professionnel</h5>
              <h6 class="card-subtitle mb-2 text-muted">Coefficient : 1</h6>
            </div>
            
          </div>
        
      </div>

    </div>
  </div>
  
  <script src="JS/bootstrap.bundle.min.js">
  </script>
  <script src="JS/bootstrap.bundle.min.js.map">
  </script>
  <script src="JS/script.js">
  </script>
  <script src="JS/app.js"></script>
</body>

</html>